<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Posición Taxista - Taxitura</title>
    <style>
      #map {
        height: 90%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      img {
        cursor: pointer;
      }
      .header {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        font-size: 20px;
        background: rgba(243, 184, 73, 0.14) !important;
        width: 100%;
        height: 8%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #ffaf18;
      }
      .logo {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        background: #ffaf18;
        width: 50px;
        height: 100%;
      }
      .title {
        margin-left: 5px;
      }
      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
      }
      .modal-content {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 80%;
        font-size: 20px;
        font-weight: bold;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 12px 12px 10px 10px;
      }
      .icon {
        width: 100%;
        height: 50px;
        display: -webkit-flex;
        display: flex;
        background: #ffaf18;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 0px 0px;
      }
      .icon img {
        cursor: default;
      }
    </style>
    <script id="host" type="application/json">
      {
        'host': `http://${window.location.host}`
      }
    </script>
    <script id="styleDay" type="application/json" src=""></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="header" class="header">
      <div id="logo" class="logo">
        <a href="https://www.facebook.com/taxitura/">
          <img id="img" name="img" height="48" width="48">
        </a>
      </div>
      <div id="title" class="title">
        <label>Taxitura - Posición Taxi</label>
      </div>
      <div style="display:none;">
        <input type="hidden" name="data_tt" id="data_tt" value="{{data}}">
      </div>
    </div>
    <div id="map"></div>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <div class="icon">
          <img id="icon" name="icon" height="45" width="45">
        </div>
        <p>El servicio ha finalizado...</p>
      </div>
    </div>
  </body>

  <script language="JavaScript">
    /* global google, jQuery:true */
    let urlBase = `http://${window.location.host}`
    var markerCabman
    var markerUser
    var data
    var idSet
    let countNulls = 0
    var modal = document.getElementById('myModal')
    jQuery('#img').attr('src', `${urlBase}/img/logo/png`)
    jQuery('#icon').attr('src', `${urlBase}/img/logo/png`)
    function updatePosition () {
      idSet = setInterval(() => {
        jQuery.post(`${urlBase}/get_current_position_cab/${data.user.id}`, (data) => {
          if (data) {
            if (data.status) {
              if (data.positions) {
                markerCabman.setPosition({
                  lat: data.positions.latitude,
                  lng: data.positions.longitude
                })
              } else {
                countNulls += 1
                if (countNulls === 3) {
                  clearTime()
                }
              }
            } else {
              clearTime()
              markerUser.setMap(null)
              markerCabman.setPosition({
                lat: 3.8863253,
                lng: -77.0498246
              })
              markerCabman.setIcon(`${urlBase}/img/taxitura/png`)
              modal.style.display = 'block'
            }
          } else {
            clearTime()
          }
        })
      }, 2000)
    }

    function clearTime () {
      clearInterval(idSet)
      countNulls = 0
    }

    function initMap () {
      data = JSON.parse(document.getElementById('data_tt').value)

      let styleMap = []
      jQuery.ajax({
        url: `${urlBase}/json/mapStyleDay`,
        async: false,
        success: (data) => {
          console.log('style test')
          styleMap = data
        }
      })
      console.log('luego del ajax')
      console.log(styleMap)

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        styles: styleMap,
        center: (data.cabman) ? {lat: data.cabman.lat, lng: data.cabman.lng} : {lat: 3.8863253, lng: -77.0498256}
      })

      markerCabman = new google.maps.Marker({
        position: (data.cabman) ? {lat: data.cabman.lat, lng: data.cabman.lng} : {lat: 3.8863253, lng: -77.0498256},
        title: (data.cabman) ? `Taxista ${data.cabman.name}` : `Taxitura`,
        icon: (data.cabman) ? `${urlBase}/img/cab/png` : `${urlBase}/img/taxitura/png`
      })
      markerCabman.setMap(map)
      if (data.user) {
        markerUser = new google.maps.Marker({
          position: {lat: data.user.lat, lng: data.user.lng},
          title: 'Tú',
          icon: `${urlBase}/img/user/png`
        })
        markerUser.setMap(map)
        updatePosition()
      } else {
        modal.style.display = 'block'
      }
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAS6qsRX4JbzHBGk4gcO2wD39btsBRvuqc&callback=initMap"></script>

</html>
