<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="https://interface.taxitura.com/img/logo/png">
    <title>Posición Taxista - Taxitura</title>
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      img {
        cursor: pointer;
      }
      .header {
        position: absolute;
        top: 0;
        z-index: 1;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        font-size: 20px;
        background: rgba(255, 148, 0, 0.75) !important;
        width: 100%;
        height: 8%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #ffaf18;
      }
      .logo {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        background: #ffaf18;
        width: 50px;
        height: 100%;
      }
      .title {
        margin-left: 5px;
        font-weight: 600;
      }
      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
      }
      .modal-content {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 80%;
        font-size: 20px;
        font-weight: bold;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 12px 12px 10px 10px;
      }
      .icon {
        width: 100%;
        height: 50px;
        display: -webkit-flex;
        display: flex;
        background: #ffaf18;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 0px 0px;
      }
      .icon img {
        cursor: default;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="header" name="header" class="header">
      <div id="logo" name="logo" class="logo">
        <a href="https://www.facebook.com/taxitura/">
          <img id="img" name="img" height="48" width="48">
        </a>
      </div>
      <div id="title" name="title" class="title">
        {{#if action}}
          <label id="title_text" name="title_text">Taxitura - Posición Taxi</label>
        {{else}}
          <label id="title_text" name="title_text">Taxitura - Posición Taxi - Pasajero Abordo</label>
        {{/if}}
      </div>
      <div style="display:none;">
        <input type="hidden" name="data_tt" id="data_tt" value="{{data}}">
      </div>
    </div>
    <div id="map" name="map"></div>
    <div id="myModal" name="myModal" class="modal">
      <div class="modal-content">
        <div class="icon">
          <img id="icon" name="icon" height="45" width="45">
        </div>
        <p>El servicio ha finalizado...</p>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    /* global jQuery:true */
    var isMobile = {
      Android: () => { return navigator.userAgent.match(/Android/i) },
      BlackBerry: () => { return navigator.userAgent.match(/BlackBerry/i) },
      iOS: () => { return navigator.userAgent.match(/iPhone|iPad|iPod/i) },
      Opera: () => { return navigator.userAgent.match(/Opera Mini/i) },
      Windows: () => { return navigator.userAgent.match(/IEMobile/i) },
      any: () => { return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows()) }
    }
    if (isMobile.any()) {
      jQuery('#header').css('display', 'none')
    }
  </script>

  <script language="JavaScript">
    /* global google, jQuery:true */
    let urlBase = `https://${window.location.host}`
    var styleDay = []
    var styleNight = []
    var map
    var markerCabman
    var markerUser
    var data
    var action = true
    var idMap
    var idSet
    let countNulls = 0
    let time = {
      ZERO: 0,
      MINUTE: 60000, // dato en milisegundos = 1 minuto
      START_NIGHT: 1080, // dato en minutos = 6pm
      MIDDLE_NIGHT: 1440, // dato en minutos = 11:53pm
      END_NIGHT: 360, // dato en minutos = 5am
      FOR_MINUTE: 60,
      REFRESH_MAP: 2000 // 2 segundos
    }
    let status = getIsMap()
    var modal = document.getElementById('myModal')
    jQuery('#img').attr('src', `${urlBase}/img/logo/png`)
    jQuery('#icon').attr('src', `${urlBase}/img/logo/png`)
    function updatePosition () {
      idSet = setInterval(() => {
        jQuery.get(`${urlBase}/get_current_position_cab/${data.user.id}`, (data) => {
          if (data) {
            if (data.status) {
              if (data.data) {
                markerCabman.setPosition({
                  lat: data.data.latitude,
                  lng: data.data.longitude
                })
                if (!data.action && action) {
                  markerUser.setIcon(`${urlBase}/img/user_disable/png`)
                  markerUser.setTitle('Pósicion inicial')
                  jQuery('#title_text').text('Taxitura - Posición Taxi - Pasajero Abordo')
                }
              } else {
                countNulls += 1
                if (countNulls === 7) {
                  clearTime()
                }
              }
            } else {
              clearTime()
              markerUser.setMap(null)
              markerCabman.setTitle('Taxitura')
              markerCabman.setPosition({
                lat: 3.8863253,
                lng: -77.0498246
              })
              markerCabman.setIcon(`${urlBase}/img/taxitura/png`)
              jQuery('#title_text').text('Taxitura - Posición Taxi')
              modal.style.display = 'block'
            }
          } else {
            clearTime()
          }
        })
      }, time.REFRESH_MAP)
    }

    function updateStyleMap () {
      idMap = setInterval(() => {
        if (status !== getIsMap()) {
          window.location.reload()
        }
      }, time.MINUTE)
    }

    function clearTime () {
      clearInterval(idMap)
      clearInterval(idSet)
      countNulls = 0
    }

    function getIsMap () {
      let date = new Date()
      if ((((date.getHours() * time.FOR_MINUTE) + date.getMinutes()) >= time.START_NIGHT &&
      ((date.getHours() * time.FOR_MINUTE) + date.getMinutes()) <= time.MIDDLE_NIGHT) ||
      (date.getHours() >= time.ZERO &&
      ((date.getHours() * time.FOR_MINUTE) + date.getMinutes()) <= time.END_NIGHT)) {
        return false
      }
      return true
    }

    function initMap () {
      data = JSON.parse(document.getElementById('data_tt').value)
      action = data.action
      jQuery.ajax({url: `${urlBase}/json/mapStyleDay`, async: false, success: (data) => { styleDay = data }})
      jQuery.ajax({url: `${urlBase}/json/mapStyleNight`, async: false, success: (data) => { styleNight = data }})

      let styleMap = status ? styleDay : styleNight

      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        styles: styleMap,
        center: (data.cabman) ? {lat: data.cabman.lat, lng: data.cabman.lng} : {lat: 3.8863253, lng: -77.0498256},
        disableDefaultUI: true,
        zoomControl: true
      })

      markerCabman = new google.maps.Marker({
        position: (data.cabman) ? {lat: data.cabman.lat, lng: data.cabman.lng} : {lat: 3.8863253, lng: -77.0498256},
        title: (data.cabman) ? `Taxista ${data.cabman.name}` : `Taxitura`,
        icon: (data.cabman) ? `${urlBase}/img/cab/png` : `${urlBase}/img/taxitura/png`
      })
      markerCabman.setMap(map)
      if (data.user) {
        markerUser = new google.maps.Marker({
          position: {lat: data.user.lat, lng: data.user.lng},
          title: data.action ? 'Tú' : 'Pósicion inicial',
          icon: data.action ? `${urlBase}/img/user/png` : `${urlBase}/img/user_disable/png`
        })
        markerUser.setMap(map)
        updateStyleMap()
        updatePosition()
      } else {
        modal.style.display = 'block'
      }
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpOuqlNsEV9WQGN4EhGFHiR9gm80IFQGM&callback=initMap"></script>

</html>
